@import '/styles/variables.css';

/* BUTTONS */
.button {
    outline: none;
    color: white;
    padding: 12px;
    border-style: none;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    width: 190px;
    font-weight: 700;
}

.smaller-button {
    height: 40px;
    width: 160px;
}

.smallest-button {
  width: 110px;
  height: 40px;
}


.bookmark-btn-desktop {
    background-color: var(--lightgrey);
    width: 165px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    color: var(--darkgrey);
    font-weight: 700;
    padding: 12px 12px 12px 48px;
    z-index: 0;
    position: relative;
    cursor: pointer;
}

.bookmark-btn-desktop::before {
    content: '';
    background-color: black;
    background: url('../img/icon-bookmark.svg') center;
    position: absolute;
    top:0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.bookmark-btn-mobile {
    background: url('../img/icon-bookmark.svg') center;
    outline: none;
    border-style: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.smaller-button.grey {
    cursor:initial;
}

/* PROGRESS BAR */

progress[value] {
    width: 100%;
    height: 20px;
}

.progress-bar {
    color: var(--green);
}

/* RADIO BUTTONS */

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1em;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px var(--lightgrey);
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:var(--green);
    z-index: 1;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* INPUT TEXT pledge amount */
  .textinput-container {
    color: var(--darkgrey);
    padding: 7px 2px 7px 14px;
    border: solid 1px var(--lightgrey);
    position: relative;
    border-radius: 50px;
    height: 40px;
    width: 110px;
    font-weight: 700;
  }

  input[type='text'] {
    outline: none;
    border: none;
    width: 40px;
    color: black;
    font-weight: 500;
  }