@media (max-width:681px) { /* change to 375px */
    header {
        background-image: url('/img/image-hero-mobile.jpg');
    }

    /* Menu */
    .header-logo {
        position: absolute;
        top:30px;
        left: 10%;
    }

    .hamburger-icon {
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
        outline: none;
        border-style: none;
        text-decoration: none;
        background-color: transparent;
    }

    nav {
        background-color: white;
        width: 80%;
        padding: 10px;
        border-radius: 15px;
        margin: auto;
        font-size: 1.5em;
        transform: translateY(-100vh);
        transition: all 400ms ease-out;
    }
    nav.active-nav {
        transform: translateY(10vh);
    }



    li {
        list-style: none;
        border-bottom: solid 1px var(--grey);
        padding: 20px 0 20px 0;
    }

    li:hover {
        background-color: var(--lightgrey);
        transition: 400ms ease-in;
    }

    .bookmark-btn-mobile {
        display: block;
    }

    .bookmark-btn-desktop::before, .bookmark-btn-desktop {
        display: none;
    }

    .project-header_buttons {
        display: flex;
        justify-content: center;
    }

    .pledge-numbers {
        margin-bottom: 20px;
    }

    .stat-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
        text-align: center;
        gap:5%;
        margin-bottom: 3vh;
        }
        
        .stat-item:nth-child(2) {
            border-top: solid 1px var(--grey);
            border-bottom: solid 1px var(--grey);
            
        }
}

@media (min-width:681px) { /* change to 375px */

    li {
        display: inline-block;
        list-style: none;
        margin-left: 20px;
    }

    .bookmark-btn-mobile {
        display: none;
    }
    .project-header_buttons {
        display: flex;
        justify-content: space-between;
    }
    .pledge-option_header-flex, .pledge-option_bottom-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Menu */
    .header-logo {
        position: absolute;
        top:30px;
        left: 10%;
    }

    .hamburger-icon {
        display: none;
    }
    
    header > nav {
        position: absolute;
        top:30px;
        right:10%;
        color: white;
        font-size: 14px;
    }

    /* Flex stats */
    .stat-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    text-align: left;
    gap:5%;
    margin-bottom: 3vh;
    }
    .stat-item {
        height: 70px;
        flex-grow: 1;
    }
    .stat-item:nth-child(2) {
        border-left: solid 1px var(--grey);
        border-right: solid 1px var(--grey);
        color: red;
        padding-left: 5%;
    }

    

}