.zero-left {
    opacity: 0.6;
}

.green {
    background-color: var(--green);
}

.grey {
    background-color: var(--grey);
}

.button.green:hover {
    background-color: var(--darkgreen);
}

.hidden {
    display: none;
}

.greyified {
    opacity: 0.2;
}

